* {
   margin: 0;
   padding: 0;
   color: hsl(var(--black));
   font-family: 'Nunito', sans-serif;
}

:root {
   --primary:       #85B4F9;
   --secondary:     #FC9CF9;
   --tertiary:      #FCF783;
   --white:         0, 0%, 93%;
   --black:         0, 0%, 13%;
}

html   { font-size: calc(1.4em + 1vw);}
header { display: flex; justify-content: space-between; align-items: center; margin: 0 0 calc(40px + .25vw) 0; }
nav a  { font-size: .8em;  line-height: 1.5;  font-weight: 300; margin: 0 1.5vw; text-decoration: none; padding: 10px 5px; text-align: center; }
body   { width: calc(95vw + 5px); margin: 0 auto; padding: calc(1vw + 10px) 0;  background-color: hsl(var(--white)); }
h1     { font-size: 1.4em; line-height: 1.05; font-weight: 400; }
h2     { font-size: .9em;  line-height: 1.05; font-weight: 300; }
p, .key{ font-size: .7em;  line-height: 1.75;  font-weight: 300; }
time   { font-size: .7em;  line-height: 1.5;  font-weight: 300; font-style: italic;} 
a      { text-decoration: none; }
img    { width: 100%; border-radius: 1vw; }

h2 {text-align: center}
p, .post > img { margin: calc(20px + 1vw) auto;}
time { transition: 150ms; transition-property: color, background-color; }
.post:not(.listing) time { display: inline-block; margin: calc(40px + .25vw) auto calc(5px + 0.25vw) auto; }
.search > svg { width: calc(20px + 1vw); }
iframe.youtube { display: block; margin: 0 auto; width: 45vmax; height: 25vmax }
img[src$='#square'] { width: 10vmax; height: 10vmax; margin: 0 auto; display: block; }
.post a { color: var(--primary);}


.post, .keys {
   width: 90%; 
   margin: calc(20px + .25vw) auto; 
}

.keys { 
   display: flex; 
   flex-flow: row wrap; 
   align-items: center; 
   justify-content: left; 
}

.key {
   justify-content: left;
   margin: 5px;
   padding: 0 5px; 
   transition: 150ms;
   transition-property: color, background-color;
   border-radius: .5vmax; 
   border-left: 5px solid hsl(var(--white));
   border-right: 5px solid hsl(var(--white));
}

.listing { 
   display: flex; 
   flex-flow: row wrap; 
   align-items: center; 
   justify-content: space-between; 
   border-radius: .5vmax; 
   padding: 0 10px; 
   transition-duration: 150ms; 
   transition-property: color, background-color;
   border-left: 5px solid hsl(var(--white));
   border-right: 5px solid hsl(var(--white));
}

.listing:hover, .key:hover {
   transition: 150ms;
   transition-property: color, background-color;
   background-color: hsla(var(--black), .85);
   color: hsl(var(--white));
}

.listing:hover time, .listing:hover h2 {
   transition: 150ms;
   transition-property: color, background-color;
   color: hsl(var(--white));
}

.listing:hover:nth-of-type(1n), .key:hover:nth-of-type(1n) { border-left: 5px solid var(--primary); border-right: 5px solid var(--primary); }
.listing:hover:nth-of-type(2n), .key:hover:nth-of-type(2n) { border-left: 5px solid var(--secondary); border-right: 5px solid var(--secondary); }
.listing:hover:nth-of-type(3n), .key:hover:nth-of-type(3n) { border-left: 5px solid var(--tertiary); border-right: 5px solid var(--tertiary); }



.listing h2 {
   text-align: left;
}

@media (prefers-color-scheme: dark) {
   :root{
      --black:         0, 0%, 93%;
      --white:         0, 0%, 13%;
   }
}

