<header>
   <a href="/"><h1>{{#site}}{{title}}{{/site}}</h1></a>
   <a href="{{#site}}{{url}}/tags/index.html{{/site}}" class="search">
      <svg viewBox="0 0 385 385" fill="none" xmlns="http://www.w3.org/2000/svg">
         <path id="icon" fill-rule="evenodd" clip-rule="evenodd" d="M160.417 288.75C89.5402 288.75 32.0834 231.293 32.0834 160.417C32.0834 89.54 89.5402 32.0833 160.417 32.0833C231.293 32.0833 288.75 89.54 288.75 160.417C288.75 190.073 278.69 217.381 261.797 239.112L348.218 325.533L325.531 348.219L239.11 261.798C217.379 278.691 190.073 288.75 160.417 288.75ZM256.667 160.417C256.667 213.574 213.574 256.667 160.417 256.667C107.259 256.667 64.1667 213.574 64.1667 160.417C64.1667 107.259 107.259 64.1666 160.417 64.1666C213.574 64.1666 256.667 107.259 256.667 160.417Z" fill="currentColor"/>
      </svg>
   </a>
</header>
