<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>{{title}}{{#current}}{{pid}}{{/current}} | {{#site}}{{title}}</title>
	{{#description}}<meta name="description" content="{{description}}">{{/description}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <meta property="og:title" content="{{title}}"/>
   {{#description}}<meta property="og:description" content="{{description}}"/>{{/description}}
   <meta property="og:type" content="website"/>
   <meta property="og:url" content="{{url}}"/>
   <meta property="og:image" content="{{url}}/{{assets}}/og-img.png"/>
   <meta property="og:image:secure_url" content="{{url}}/{{assets}}/og-img.png"/>

	<link href="{{url}}/rss.xml" rel="alternate" title="{{title}}" type="application/rss+xml">
	<link href="{{url}}/atom.xml" rel="alternate" title="{{title}}" type="application/atom+xml">
	<link href="{{url}}/{{assets}}/style.css" media="screen, projection" rel="stylesheet" type="text/css">

   <link rel="icon" type="image/png" sizes="16x16" href="{{url}}/{{assets}}/favicon-1x.png">
   <link rel="icon" type="image/png" sizes="32x32" href="{{url}}/{{assets}}/favicon-2x.png">
   {{/site}}
   
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">
</head>
