{{> meta.html }}
{{> header.html }}
{{#title}}<h2>#{{title}}</h2>{{/title}}
{{#pages}}
<a class="post listing" href="{{permalink}}">
   <h2>{{title}}</h2>
   <time datetime="{{>datetime.html}}">{{>date.html}}</time>
</a>
{{/pages}}
